.lob1{
    background-image: url(../../assets/galeriaImagenes/lob1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 7%;
    height: 16rem;
}

.lob2{
    background-image: url(../../assets/galeriaImagenes/lob2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15%;
    height: 16rem;
}

.lob3{
    background-image: url(../../assets/galeriaImagenes/lob3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15%;
    height: 16rem;
}

.comensal-1{
    background-image: url(../../assets/galeriaImagenes/comensales1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.comensal-2{
    background-image: url(../../assets/galeriaImagenes/comensales2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.comensal-3{
    background-image: url(../../assets/galeriaImagenes/comensales3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.juegos-1{
    background-image: url(../../assets/galeriaImagenes/juego1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.juegos-2{
    background-image: url(../../assets/galeriaImagenes/juego2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.juegos-3{
    background-image: url(../../assets/galeriaImagenes/juego3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.gim-1{
    background-image: url(../../assets/galeriaImagenes/gim1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.gim-2{
    background-image: url(../../assets/galeriaImagenes/gim2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}

.gim-3{
    background-image: url(../../assets/galeriaImagenes/gim3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 16rem;
}