@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.barra-navegacion {
  position: static;
}

.lista-preguntas {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainSection {
  flex-grow: 1;
  background-image: url(./assets/banner-main.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 3%;
}

.section-card {
  background-image: url(./assets/banner-sec-card.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5%;
}

.section-comentarios {
  background-image: url(./assets/banner-comentarios.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 2%;
}

.errorSection {
  flex-grow: 1;
}

.mainAdmin {
  flex-grow: 1;
}

.mainContactos {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.detalle-card {
  box-shadow: 2px 5px 12px 0.2px black;
}

.mainSomos {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
